<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="clearfix">
    <img src="https://c4.wallpaperflare.com/wallpaper/782/677/138/fantasy-art-space-planet-jupiter-wallpaper-preview.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="Jupiter">
    <hr class="border border-danger border-2 opacity-50">
    <p>
        Jupiter has a long history of surprising scientists – all the way back to 1610 when Galileo Galilei found the first moons beyond Earth. That discovery changed the way we see the universe.
    </p>

    <p>
        Fifth in line from the Sun, Jupiter is, by far, the largest planet in the solar system – more than twice as massive as all the other planets combined.
    </p>

    <p>
        Jupiter's familiar stripes and swirls are actually cold, windy clouds of ammonia and water, floating in an atmosphere of hydrogen and helium. Jupiter’s iconic Great Red Spot is a giant storm bigger than Earth that has raged for hundreds of years.
    </p>
</div>

</body>
</html>
