<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="clearfix">
    <img src="https://media.meer.com/attachments/4b13aa8d67731840cf2a5841d006a5e3f543cf7d/store/fill/1090/613/35c93b6ffb79bcee8cbd68a6c338fc8ce0a4cbf21757c636411053c5cc53/Pluto.jpg"
         class="col-md-6 float-md-end mb-3 ms-md-3" alt="Pluto">
    <hr class="border border-danger border-2 opacity-50">
    <p>
        Pluto is about 1,400 miles (2,380 km) wide. That's about half the width of the United States, or 2/3 the width
        of Earth's moon.
        Pluto orbits the Sun about 3.6 billion miles (5.8 billion km) away on average, about 40 times as far as Earth,
        in a region called the Kuiper Belt.
    </p>


    <p>
        A year on Pluto is 248 Earth years. A day on Pluto lasts 153 hours, or about 6 Earth days.Pluto is officially
        classified as a dwarf planet.
        Pluto has a thin atmosphere of nitrogen, methane and carbon monoxide. The atmosphere has a blue tint and
        distinct layers of haze.
        Pluto’s surface is far too cold, -378 to -396 degrees F (-228 to -238 C), to sustain life as we know it.
        Venetia Burney, just 11 years old at the time, suggested the name Pluto in 1930.
    <p>
        Pluto has 5 moons. The largest, Charon, is so big that Pluto and Charon orbit each other like a double planet.
        Pluto has no ring system.
        The only spacecraft to visit Pluto is NASA’s New Horizons, which passed close by in July 2015.
    </p>
</div>

</body>
</html>